# Table of contents
* [Data preprocessing](#one)
* [Charts, plot and statistic](#two)
* [LightGBM](#three)

In [1]:
import pandas as pd
import numpy as np

------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 <h1 style=font-size:40px><center> Use your own data path! </center></h1>

In [2]:
path = r"C:\\Users\\lancernik\\1GitProjects\\KaggleHeatpredict\\V1\\data\\"

<a class="anchor" id="one"></a>

------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 <h1 style=font-size:40px><center> Data preprocessing </center></h1>

# 1) Load and merge all training data

### Load train.csv

### Merge all files in one csv

In [3]:
raw_train = pd.read_csv(r"{}\train.csv".format(path))
raw_building_metadata = pd.read_csv(r"{}building_metadata.csv".format(path))
raw_test = pd.read_csv(r"{}\test.csv".format(path))

In [4]:
temp_df = raw_train[['building_id']]
temp_df = temp_df.merge(raw_building_metadata, on=['building_id'], how='left')
del temp_df['building_id']
train_df = pd.concat([raw_train, temp_df], axis=1)

temp_df = raw_test[['building_id']]
temp_df = temp_df.merge(raw_building_metadata, on=['building_id'], how='left')
del temp_df['building_id']
test_df = pd.concat([raw_test, temp_df], axis=1)

del raw_building_metadata, temp_df

In [5]:
train_df.head(5)

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count
0,0,0,2016-01-01 00:00:00,0.0,0,Education,7432,2008.0,NaN
1,1,0,2016-01-01 00:00:00,0.0,0,Education,2720,2004.0,NaN
2,2,0,2016-01-01 00:00:00,0.0,0,Education,5376,1991.0,NaN
3,3,0,2016-01-01 00:00:00,0.0,0,Education,23685,2002.0,NaN
4,4,0,2016-01-01 00:00:00,0.0,0,Education,116607,1975.0,NaN

In [6]:
raw_weather_train = pd.read_csv("{}\weather_train.csv".format(path))
raw_weather_test = pd.read_csv("{}\weather_test.csv".format(path))

In [7]:
########################### Weather DF merge merge over concat (to not lose type)
#################################################################################
temp_df = train_df[['site_id','timestamp']]
temp_df = temp_df.merge(raw_weather_train, on=['site_id','timestamp'], how='left')
del temp_df['site_id'], temp_df['timestamp']
train_df = pd.concat([train_df, temp_df], axis=1)

temp_df = test_df[['site_id','timestamp']]
temp_df = temp_df.merge(raw_weather_test, on=['site_id','timestamp'], how='left')
del temp_df['site_id'], temp_df['timestamp']
test_df = pd.concat([test_df, temp_df], axis=1)

del raw_weather_train, raw_weather_test, temp_df

In [8]:
train_df.head(5)

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,2016-01-01 00:00:00,0.0,0,Education,7432,2008.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,1,0,2016-01-01 00:00:00,0.0,0,Education,2720,2004.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
2,2,0,2016-01-01 00:00:00,0.0,0,Education,5376,1991.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
3,3,0,2016-01-01 00:00:00,0.0,0,Education,23685,2002.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
4,4,0,2016-01-01 00:00:00,0.0,0,Education,116607,1975.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0

<a class="anchor" id="two"></a>

------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 <h1 style=font-size:40px><center> Charts, plots and statisic </center></h1>

In [9]:
import matplotlib.pyplot as plt
%matplotlib notebook

In [10]:
from IPython.core.display import HTML

def multi_table(table_list):
    ''' Acceps a list of IpyTable objects and returns a table which contains each IpyTable in a cell
    '''
    return HTML(
        '<table><tr style="background-color:white;">' + 
        ''.join(['<td>' + table._repr_html_() + '</td>' for table in table_list]) +
        '</tr></table>'
    )

In [11]:
df = pd.Series(train_df['primary_use'])
df.value_counts().to_frame().style.bar()

In [22]:
pd.options.display.float_format = lambda x : '{:.0f}'.format(x) if int(x) == x else '{:,.2f}'.format(x)    # Disable scientific notation
train_df.describe()

,building_id,meter,meter_reading,site_id,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,20216100,20216100,20216100,20216100,20216100,8088455,3506933,20119442,11390735,20115960,16467077,18984431,18767052,20072424
mean,799.28,0.66,"2,117.12",7.99,"107,782.98","1,968.28",4.18,15.99,1.90,7.75,0.80,"1,016.09",173.02,3.38
std,426.91,0.93,"153,235.62",5.10,"117,142.44",30.21,4.01,10.95,2.40,10.18,7.47,7.06,114.06,2.27
min,0,0,0,0,283,1900,1,-28.90,0,-35,-1,968.20,0,0
25%,393,0,18.30,3,32527,1951,1,8.60,0,0,0,"1,011.60",70,2.10
50%,895,0,78.78,9,72709,1969,3,16.70,0,8.90,0,1016,180,3.10
75%,1179,1,267.98,13,139113,1993,6,24.10,4,16.10,0,"1,020.50",280,4.60
max,1448,3,21904700,15,875000,2017,26,47.20,9,26.10,343,"1,045.50",360,19

<a class="anchor" id="three"></a>

------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 <h1 style=font-size:40px><center> Train model </center></h1>

In [14]:
#import lightgbm as lgb

SEED = 42
lgb_params = {
                    'objective':'regression',
                    'boosting_type':'gbdt',
                    'metric':'rmse',
                    'n_jobs':-1,
                    'learning_rate':0.05,
                    'num_leaves': 2**8,
                    'max_depth':-1,
                    'tree_learner':'serial',
                    'colsample_bytree': 0.7,
                    'subsample_freq':1,
                    'subsample':0.7,
                    'n_estimators':600,
                    'max_bin':255,
                    'verbose':-1,
                    'seed': SEED,
                    'early_stopping_rounds':100, 
                }

# A tu wyskakuje memory error xDDDDDD

In [15]:
TARGET = 'meter_reading'
remove_columns = ['timestamp',TARGET]
features_columns = [col for col in list(train_df) if col not in remove_columns]

tr_data = lgb.Dataset(train_df[features_columns], label=np.log1p(train_df[TARGET]))
eval_sets = [tr_data]
    
estimator = lgb.train(
            lgb_params,
            tr_data,
            valid_sets = eval_sets,
            verbose_eval = 100,
        )

NameError: name 'lgb' is not defined

In [ ]:
 ########################### Predict
predictions = []
batch_size = 2000000
for batch in range(int(len(test_df)/batch_size)+1):
    print('Predicting batch:', batch)
    predictions += list(np.expm1(estimator.predict(test_df[features_columns].iloc[batch*batch_size:(batch+1)*batch_size])))

print('Read sumbission file and store predictions')
submission = pd.read_csv('../input/ashrae-energy-prediction/sample_submission.csv')
submission['meter_reading'] = predictions
submission['meter_reading'] = submission['meter_reading'].clip(0,None)

########################### Check
print(submission.iloc[:20])
print(submission['meter_reading'].describe())