In [1]:
import pandas as pd 
import numpy as np 
import os
from DataLoader import load_data 

train = load_data(build_meta='./data/building_metadata.csv',
                 train='./data/train.csv',
                 test='./data/test.csv',
                 weather_train='./data/weather_train.csv',
                 weather_test='./data/weather_test.csv',
                 train_mode=True,
                 to_datetime=True,
                 test_mode=False,
                 merge=True,
                 return_unmerged=False)

train.head(10)

Memory usage of properties dataframe is : 616.9464874267578  MB
******************************
Column:  building_id
dtype before:  int64
min for this col:  0
max for this col:  1448
dtype after:  uint16
******************************
******************************
Column:  meter
dtype before:  int64
min for this col:  0
max for this col:  3
dtype after:  uint8
******************************
******************************
Column:  meter_reading
dtype before:  float64
min for this col:  0.0
max for this col:  21904700.0
dtype after:  float32
******************************
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  289.1937065124512  MB
This is  46.875006569639226 % of the initial size

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,year,month,day,weekday,hour
0,0,0,2016-01-01,0.0,0,Education,7432,2008.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
1,1,0,2016-01-01,0.0,0,Education,2720,2004.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
2,2,0,2016-01-01,0.0,0,Education,5376,1991.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
3,3,0,2016-01-01,0.0,0,Education,23685,2002.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
4,4,0,2016-01-01,0.0,0,Education,116607,1975.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
5,5,0,2016-01-01,0.0,0,Education,8000,2000.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
6,6,0,2016-01-01,0.0,0,Lodging/residential,27926,1981.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
7,7,0,2016-01-01,0.0,0,Education,121074,1989.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
8,8,0,2016-01-01,0.0,0,Education,60809,2003.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0
9,9,0,2016-01-01,0.0,0,Office,27000,2010.0,NaN,25.0,...,20.0,NaN,1019.7,0.0,0.0,2016,1,1,4,0

In [4]:
test = load_data(build_meta='./data/building_metadata.csv',
                 train='./data/train.csv',
                 test='./data/test.csv',
                 weather_train='./data/weather_train.csv',
                 weather_test='./data/weather_test.csv',
                 train_mode=False,
                 to_datetime=True,
                 test_mode=True,
                 merge=True,
                 return_unmerged=False)

test.head(10)

   row_id  building_id  meter            timestamp
0       0            0      0  2017-01-01 00:00:00
1       1            1      0  2017-01-01 00:00:00
2       2            2      0  2017-01-01 00:00:00
3       3            3      0  2017-01-01 00:00:00
4       4            4      0  2017-01-01 00:00:00
5       5            5      0  2017-01-01 00:00:00
6       6            6      0  2017-01-01 00:00:00
7       7            7      0  2017-01-01 00:00:00
8       8            7      1  2017-01-01 00:00:00
9       9            8      0  2017-01-01 00:00:00